---
---

@import "{{ site.theme }}";

section ul {
  padding-left: 1.3em;
}

section ul li {
  list-style: none;
}

section ul li:before {
  content: "⤷ ";
  font-weight: bold;
  color: rgb(0, 102, 153);
}
